/* font import */
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

/* * {
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
    margin: 0;
    font-family: 'Unica One', sans-serif;
    background: #111;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 5rem;
  }
  
  .heading {
    color: #eee;
    font-size: 5rem;
    font-weight: 300;
    text-transform: uppercase;
  } */

/* animation */
@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@keyframes fade-down {
    0% {
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

/* MAX WIDTH MONITORS 1281px+ */

body {
    background-color: #fff;
    color: #333;
    margin: 20px;
    font-family: "Kode Mono", monospace;
    padding: 0;
}

.container2, .container3, .container4, .container5, .container6, .c4 {
    /* width: 80%; */
    margin: 0 auto;
}

/* see if i can make an interactive background  */
header {
    background-color: lightgrey; 
    border-radius: 15px;
    padding: 20px 40px;
}

header h1 {
    display: flex;
    justify-content: center;
    margin: 0px;
    animation: fade-down 1.5s;
}

/* Nav links container */
nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    animation: fade-down 1.5s;

}
/* each nav link  */
nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
}
a:hover {
    color: grey;
}

/* profile pic */
.pic {
    display: flex;
    justify-content: center;
    margin: 20px;
    animation: fade-down 1.5s;
}

/* About me */
.section {
    margin-top: 20px;
    padding: 20px 0;
    animation: fade-up 1.5s;
}

/* Skills icons */
.container3 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
   
}

.container4 {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}

.card {
    border-radius: 15px;
    width: 550px;
    height: 650px;
    text-align: center;
    background-color: lightgrey;
    padding: 10px;
    margin-bottom: 10px;
}

/* contact me */
.btn {
    background-color: lightgrey;
    padding: 20px 50px;
    color: #fff;
    border: none;
    text-decoration: none;
    border-radius: 15px;
    }

    .btn a {
        text-decoration: none;
        color:#333;
    }
    
.btn:hover {
    background-color: gray;
    }
    
.container7 {
    text-align: center;
    font-size: x-small;
    padding: 10px 0;
    border-radius: 15px;
}

.container7 a {
    text-decoration: none;
    color: #333;
}
/* Media Queries Below: */
/* When the browser is less than 1280 px wide change cards to display as flex column instead */

/* SMALLER MONITOR 1280px & below. 1234px is when the layout starts to differ from my intended design*/

@media (max-width: 1234px) {
    body {
        margin:20px;
        padding: 0;
        font-size: smaller;
    }
    .container4 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .card {
        border-radius: 15px;
        text-align: center;
        background-color: lightgrey;
        padding: 15px;
        margin-bottom: 15px;
        width: 450px;
        height: 200px;
    }
}

/* TABLET 1024 px */
@media (max-width: 1024px) {
    body {
        margin:10px;
        padding: 0;
        font-size: smaller;
    }
    .container4 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .card {
        border-radius: 15px;
        text-align: center;
        background-color: lightgrey;
        padding: 15px;
        margin-bottom: 15px;
        width: 450px;
        height: 200px;
    }
    
}
/* LOW-RES TABLET 767 px */
@media (max-width: 767 px) {
body {
    font-size: small;
}
body {
    margin:10px;
    padding: 0;
    font-size: smaller;
}
.container4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card {
    border-radius: 15px;
    text-align: center;
    background-color: lightgrey;
    padding: 15px;
    margin-bottom: 15px;
    width: 450px;
    height: 200px;
}
}

/* MOBILE  480px */
@media (max-width: 480px) {
body {
        margin:10px;
        padding: 0;
        font-size: x-small;
}
.container3 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
   
}
.container4 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
}
.card {
        border-radius: 15px;
        text-align: center;
        background-color: lightgrey;
        padding: 15px;
        margin-bottom: 15px;
        width: 200px;
        height: 350px;
}
}
